* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Georgia", serif;
  background: #1e1e2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 0;
  flex-direction: column;
}
.intro {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 30px;
  opacity: 1;
  transition: opacity 1s ease;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background: #f5eeef;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(5, 2, 2);
  transition: 0.3s;
}
.btn:hover {
  background: #b1acad;
}
.letter {
  display: none;
  background: repeating-linear-gradient(
    to bottom,
    #fdf6e3 0px,
    #fdf6e3 27px,
    #d2d2d2 28px
  );
  color: #333;
  padding: 50px 50px 60px 90px;
  border-radius: 14px;
  width: 92%;
  max-width: 750px;
  min-height: 900px;
  height: auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  font-size: 1.25rem;
  line-height: 1.85;
  text-align: left;
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: "Courier New", monospace;
}
.letter p {
  margin-top: -55px;
}
.letter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  background-image: radial-gradient(circle, #1e1e2f 7px, transparent 8px);
  background-size: 30px 45px;
  background-repeat: repeat-y;
  background-position: center;
  pointer-events: none;
}
.signature {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 220px;
  opacity: 0.9;
  pointer-events: none;
  transform: rotate(-2deg);
}
